@model identity.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div>
    <form asp-controller= "Account" asp-action="Login" method="post">
        <div>
            <input asp-for="Email"/>
            <input asp-for="Password"/>
            <button type="submit">Signin</button>
        </div>
    </form>
</div>